In [7]:
print("hello {1:8.2f} everyone {0}".format(0, 1/3))
print("hello {1:8.2f} everyone {0}".format(0, 2))

hello     0.33 everyone 0
hello     2.00 everyone 0

In [11]:
i = 'string'
print(type(i))

<class 'str'>

In [12]:
a = True

if a is True:
    print('Yay!')

if a is not True:
    print('Nay!')

Yay!

In [ ]:
if (a is True):
    print('Hi!')

In [13]:
a = [1,2,3]
print(type(a))

<class 'list'>

In [14]:
a.append(13)

print(a)

[1, 2, 3, 13]

In [15]:
del a[0]
print(a)

[2, 3, 13]

In [18]:
a[-2]

3

In [21]:
print(list(range(1,5)))

[1, 2, 3, 4]

In [23]:
print(list(range(5,1,-1)))

[5, 4, 3, 2]

In [24]:
for i in range(5):
    print(i)

0
1
2
3
4

In [28]:

for i in range(10):
    if i == 5:
        break
    
    print(i)

0
1
2
3
4

In [29]:

for i in range(10):
    if i == 5:
        continue
    
    print(i)

0
1
2
3
4
6
7
8
9

In [30]:
for i in range(3):
    for j in range(3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [36]:
def func_name(a):
    print('The value you passed is:', a)
    
def print_x():
    print(x)

In [35]:
func_name(12)

The value you passed is: 12

In [37]:
x = 50
print_x()

50

In [38]:
def print_x_2():
    x = 2
    print(x)
    
print_x_2()

2

In [39]:
print(x)

50

In [41]:
def print_x_3():
    global x
    x = 3
    print(x)
    
print_x_3()

3

In [42]:
print(x)

3

In [45]:
def fun1(b, a = 1):
    print(a, b)
    
fun1(2)

1 2

In [49]:
def fun2(b, a = 1, c = 3):
    print(a, b, c)
    
fun2(2)
fun2(2,c=4)

1 2 3
1 2 4

In [52]:
def fun3():
    return 1,2,3

a,b,c = fun3()

print(a,b,c)

1 2 3

In [57]:
a = [1,2,3,4,5,6]

a[::-1]

[6, 5, 4, 3, 2, 1]

In [58]:
[[1,2,3],[4,5,6]]

[[1, 2, 3], [4, 5, 6]]

In [59]:
import numpy as np

In [60]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [62]:
9 in a

False

In [64]:
if 9 in a:
    print('nine!')
    
if 5 in a:
    print('five!')

five!